In [2]:
#string formating

name1 = 'Anna'
name2 ='Lan'
print("Hello, "+ name1+' and '+name2 +"!")

Hello, Anna and Lan!

In [3]:
my_string = "My name is Anna."

print(my_string.lower())
print(my_string.capitalize())
print(my_string.upper())

my name is anna.
My name is anna.
MY NAME IS ANNA.

In [17]:
my_string = "OncE upOn a TIMe.."

print(my_string)
print(my_string.strip('O'))
#.strip(char) get rid of

OncE upOn a TIMe..
ncE upOn a TIMe..

In [6]:
my_string ="Anna"
my_string ="hello"

print(my_string.upper().strip('H'))

ELLO

In [8]:
my_string ="The ID number is: 87655"
id_starts_at =my_string.find('ID')
print(my_string[16:])

: 87655

In [11]:
#list
my_lists=['apples','bananas','oranges']
print(my_lists)
my_lists[0]

['apples', 'bananas', 'oranges']

'apples'

In [19]:
for item in my_lists:
    print(item)

apples
bananas
oranges

In [20]:
my_string ='apples'
print(my_string[0])

a

In [26]:
#apples bananas oranges
my_lists=['apples','bananas','oranges']

#join
print(' '.join(my_lists)) #use space to join all items in list

print('\n'.join(my_lists)) #u

apples bananas oranges
apples
bananas
oranges

In [25]:
print("\n\n...\n\n")

...

In [31]:
my_string ="The ID number is: 87655"
print(my_string.find('ID'))
print(my_string[4:])

4
ID number is: 87655

In [33]:
my_string ='first: %s'%'anna'
print(my_string)

my_string ='first: %s'%(my_string[0])
print(my_string)

first: anna
first: f

In [39]:
my_lists=['apples','bananas','oranges']
#adding one element
my_lists.append('cucumber')
print(my_lists)
#remove the list element
my_lists.pop(-1)
print(my_lists)
#replace item
my_lists[0]='avocado'
print(my_lists)

['apples', 'bananas', 'oranges', 'cucumber']
['apples', 'bananas', 'oranges']
['avocado', 'bananas', 'oranges']